<h1>UserMainPage</h1>


<p>
    Email : @ViewBag.Email 
</p>

<p>
    UserId : @ViewBag.UserId 
</p>

@* <p>
    userIdentiif : @ViewBag.userIdentiif
</p> *@

<p>
    Name : @ViewBag.Name 
</p>

@* <p>
    IsAuthenticated : @ViewBag.IsAuthenticated 
</p> *@



<a asp-controller="Home" asp-action="index">Home</a>
<br />
<a asp-controller="File" asp-action="Index">Upload</a>
<br />
<a asp-controller="Account" asp-action="Logout">Log off</a>
<br />
