<div class="container content-wrapper">
    <h2 class="mb-4">Transactions</h2>
    <button class="btn btn-outline-primary mb-3">Apply filters</button>
    <div class="table-responsive">
        <table class="table fixed-width">
            <thead>
                <tr>
                    <td>From</td>
                    <td>To</td>
                    <td>Sum</td>
                    <td>Description</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>

                @if (ViewBag.AllTransactions != null)
                {
                    @foreach (var item in ViewBag.AllTransactions)
                    {
                        string TitleFrom = "null";
                        string TitleTo = "null";



                        foreach (var account in @ViewBag.Accounts)
                        {
                            if (account.AccountId == item.AccountFromId)
                                TitleFrom = account.Title;
                            if (account.AccountId == item.AccountToId)
                                TitleTo = account.Title;
                        }

                        <tr>
                            <td>@TitleFrom</td>
                            <td>@TitleTo</td>
                            <td>@item.Sum</td>
                            <td>@item.Description</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                }

               
            </tbody>
        </table>
    </div>
    <div class="button-row">
        <button class="btn btn-primary afirst">
            <a asp-action="MakeTransaction" asp-controller="Transaction">Add transaction</a>
        </button>
        <a asp-action="SavaAsExcel" asp-controller="Transaction" class="btn btn-secondary">Save as Excel</a>
    </div>
</div>




<style>
    body {
        padding-top: 56px; /* Space for fixed navbar */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .content-wrapper {
        padding: 20px;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .button-row {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .fixed-width {
        table-layout: fixed;
        width: 100%;
    }

        .fixed-width th, .fixed-width td {
            width: 41%;
            word-wrap: break-word;
        }

            .fixed-width th:last-child {
                width: 18%;
            }

    .btn-primary:hover {
        border: 1px solid;
        color: #007bff;
        background-color: white;
    }

    a, a:hover {
        text-decoration: none;
    }

    .afirst a {
        color: white;
    }

    .afirst:hover a {
        color: #007bff;
    }
</style>



@* @if (User.Identity.IsAuthenticated)
{
    <div>
        <h1>NAME:     @User.Identity.Name!!!!!!!!!!!!!</h1>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <section>
                <nav>
                    <ul class="menuItems">
                        <li>
                            <button type="submit">Log Out</button>
                        </li>
                    </ul>
                </nav>
            </section>
        </form>
    </div>
}
else
{
    <div class="text-center">
        <section>
            <nav>
                <ul class="menuItems">
                    <li><a asp-controller="Account" asp-action="Login" class="btn btn-success btn-custom">Log In</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="btn btn-info btn-custom">Register</a></li>
                </ul>
            </nav>
        </section>

    </div>
}



<div>
    Is Authenticated: @User.Identity.IsAuthenticated
    <br></br>
    Name: @User.Identity.Name
</div> *@